<%- include('../partials/head')%>

  <body>
    <%- include('../partials/header')%>
      <main>
        <section class="artists-menu">
          <ul>
            <li class="artists-item">Genres</li>

            <li><a href="/products?genre=">All albums</a></li>
            <%genres.forEach(el=> { %>
              <li><a href="/products?genre=<%=el%>">
                  <%= genre.name%>
                </a></li>
              <% }); %>

                <li class="artists-item">Price</li>
                <li class="artists-item">Release year</li>
                <li class="artists-item">New releases</li>
                <li class="artists-item">Top sellers</li>
                <li class="artists-item">Discount</li>
          </ul>
        </section>
        <section class="artists-section">
          <%artists.forEach(el=> {%>
            <picture class="artist-card">
              <a href="/products/<%= el.id%>"><img src="/img/artists_banner/<%= el.banner %>" alt="<%= el.name%>"
                  class="artist-picture" /></a>
            </picture>
            <% }); %>
        </section>
      </main>
      <%- include('../partials/footer')%>
  </body>

  </html>